body { margin:0; font-family:sans-serif; -webkit-user-select:none; width:100%; }

button, .liked button#like:active, .disliked button#dislike:active, .saved button#save:active { margin:5px 2px; padding:2px 6px; border-radius:5px; background:-webkit-linear-gradient(90deg, #ddd, #fff); border:none; box-shadow:0 0 3px rgba(0,0,0,.75); }
button:active, .liked button#like, .disliked button#dislike, .saved button#save { background:-webkit-linear-gradient(90deg, #eee, #ddd); box-shadow:0 0 5px rgba(0,0,0,1); }
.liked button#like { box-shadow:0 0 3px rgba(0,0,0,.75), 0 0 4px 1px #FF8B60; }
.disliked button#dislike { box-shadow:0 0 3px rgba(0,0,0,.75), 0 0 4px 1px #857DFF; }
.saved button#save { box-shadow:0 0 3px rgba(0,0,0,.75), 0 0 4px 1px #E9A10C; }
button span { background-position:left center; background-repeat:no-repeat; padding-left:18px; }
button#like span { background-image:url(/images/upgray.svg); }
.liked button#like span { background-image:url(/images/upmod.svg); }
button#dislike span { background-image:url(/images/downgray.svg); }
.disliked button#dislike span { background-image:url(/images/downmod.svg); }
button#comments span { background-image:url(/images/comments.svg); }
button#save span { background-image:url(/images/savegray.svg); padding-left:16px; }
.saved button#save span { background-image:url(/images/save.svg); }
button#login span { background-image:url(/images/login.svg); }

#bar { display:-webkit-box; width:9999px; color:#222; text-align:left; font-family:sans-serif; border-top-left-radius:5px; border-bottom-left-radius:5px; }
#bar > * { display:-webkit-box; -webkit-box-align:center; vertical-align:middle; }
#logo { width:19px; -webkit-box-align:stretch; padding:0 7px; text-align:center; background:url(/images/reddit.svg) no-repeat center center, -webkit-linear-gradient(90deg, rgba(0,0,0,.1), rgba(0,0,0,.05)); }
#buttons { white-space:nowrap; }
#score { padding:0 10px; font-weight:bold; color:#969696; }
.liked #score { color:#FF8B60; }
.disliked #score { color:#9494FF; }
#title { padding:2px 10px 2px 0; -webkit-user-select:text; -webkit-box-flex:1; }
#subreddit { font-size:.9em; color:black; padding:0 10px 0 5px; opacity:.5; }

.logged-out .if-logged-in { display:none; }
.logged-in .if-not-logged-in { display:none; }

button#submit span { background-image:url(/images/submit.svg); background-position:right center; background-repeat:no-repeat; padding-left:0; padding-right:18px; }
input#title-input { -webkit-box-flex:1; background:-webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255,255,255,.7)), color-stop(.5, rgba(255,255,255,.8))); border:none; box-shadow:0 0 3px rgba(0,0,0,.75); padding:2px; margin:5px; border-radius:5px; }
input#title-input:focus { outline:none; box-shadow:0 0 4px rgba(0,0,0,1); }
input#title-input::-webkit-input-placeholder { color:#555; }

#close { background:none; padding:0; margin-right:6px; box-shadow:none; border-radius:2px; opacity:.5; }
#close:hover { opacity:.75; }
