#_shine-overlay { position:fixed; bottom:8px; right:0; width:500px; background:rgba(0,0,0,.93); color:white; text-align:left; font-family:sans-serif; border-top-left-radius:5px; border-bottom-left-radius:5px; border:1px solid black; -webkit-box-shadow:0 4px 4px rgba(0,0,0,.5); z-index:999999; }
#_shine-overlay ._shine-close { margin:3px; padding:3px; float:right; border:1px solid transparent; border-radius:2px; }
#_shine-overlay ._shine-close:hover { border-color:rgba(255,255,255,.4); }
#_shine-overlay iframe, #_shine-overlay p { float:left; }
#_shine-overlay iframe { padding:5px; }
#_shine-overlay p { font-size:12pt; font-variant:normal; font-style:normal; width:400px; margin:0; padding:5px; }
