body { margin:5px; font:normal small verdana, arial, helvetica, sans-serif; cursor:pointer; overflow:hidden; }
#icon { height:32px; width:32px; float:left; }
#title { font-weight:bold; }
#title, #subject { margin-left:38px; font-family:helvetica, arial, sans-serif; font-size:13px; }
#subject { width:250px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
#from, #r.sr { font-weight:bold; }
#from { color:#336699; }
#r { color:black; }
#divider { border:none; border-bottom:1px dashed #bbb; margin-bottom:.25em; width:100%; }
#description { color:#888; font-size:x-small; }
#body { max-height:75px; overflow:hidden; }
.md { margin-left:15px; margin-right:5px; }
#fade { position:absolute; left:0; right:0; top:100px; bottom:0px; box-shadow:0 -47px 34px -27px white inset; }

/* from reddit's /public/static/css/reddit.css */
.md { font: normal x-small verdana, arial, helvetica, sans-serif; }
.md * { margin:0; padding:0; }
.md h1 { font-size: 18px; font-weight: normal; margin: 10px 0; }
.md h2 { color: #369; font-size: 13px; }
.md h2 a { text-decoration: none; }
.md h2 a:visited { color: #369; }
.md h2 a:hover { text-decoration: underline; }
.md h3 { font-size:110%; }
.md a img { border: 0 none; }
.md a { text-decoration: none; color: #369; }
.md { max-width: 60em; overflow: auto; font-size: small; }
.md p, .md h1 { margin: 5px 0; }
.md h1 { font-weight: normal; font-size: 100%; }
.md > * { margin-bottom: 0px; }
.md strong { font-weight: bold; }
.md em { font-style: italic; }
.md strong em { font-style: italic; font-weight: bold; }
.md img { display: none }
.md ol, .md ul { margin: 10px 2em; }
.md ul { list-style: disc outside }
.md ol { list-style: decimal outside }
.md pre { margin: 10px; }
.md blockquote, .help blockquote {
    border-left: 2px solid #369;
    padding-left: 4px;
    margin: 5px;
    margin-right: 15px;
}
.md td, .md th { border: 1px solid #EEE; padding: 1px 3px; }
.md th { font-weight: bold; }
.md table { margin: 5px 10px; }
.md center { text-align: left; }
