html, body { margin:0; font-family:sans-serif; color:#222; }
#container { margin-left:auto; margin-right:auto; width:450px; background: #f1f1f1; margin-top:200px; border-radius:5px; padding:20px; }
h1 { text-align:center; font-size:1.5em; margin:0; border-bottom:1px solid #dedede; }
h1 > img { height:64px; padding:10px; vertical-align:middle; }
#container > ul { padding:0; }
#options li { list-style-type:none; }
#options label { display: inline-block; font-weight:bold; cursor:pointer; }
#options input[type="checkbox"] { cursor:pointer; }
